<div class="d-flex row align-items-start">
  <div class="col d-flex justify-content-center">
    <a href="/solicitud" type="button" class="btn btn-primary">Solicita grúa</a>
  </div>
  <div class="col d-flex justify-content-center">
    <a
      href="http://localhost:3000/mapa.html"
      type="button"
      class="btn btn-primary"
      >Sequimiento grúa</a
    >
  </div>
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Consulta tarifa</button>
  </div>
</div>
