<div class="d-flex row align-items-start">
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Solicita grúa</button>
  </div>
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Seguimiento grúa</button>
  </div>
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Consulta tarifa</button>
  </div>
</div>
