<!-- Formualario para contacto -->

<form>
<div class="row g-3">
  <div class="col mt-5">
    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
  </div>
  <div class="col mt-5">
    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos">
  </div>
  
</div>
<div class="row g-3">
  <div class="col mt-5">
    <input type="text" class="form-control" placeholder="Teléfono" aria-label="Telefono">
  </div>
  <div class="col mt-5">
    <input type="text" class="form-control" placeholder="Correo" aria-label="Correo">
  </div>

  <div class="form-floating mt-5">
    <textarea class="form-control" placeholder="Consúltanos" id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea2">Consulta</label>
  </div>
    <div class="col text-center mt-5">
      <button class="btn btn-primary regular-button"> Enviar </button>
    </div>	
  
</div>

</form>