<!-- Forumlario para No registrados -->

<!---------Div que contiene los dos formularios para flexbox ------------>
<div class="d-flex justify-content-center p-2 min-vw-50">
  <div class="p-2 w-100">
    <form action="/solicitud" method="post">
      <div class="form-row">
        <div class="form-group mx-2">
          <input
            type="text"
            name="inputNombre"
            class="form-control mb-1"
            id="inputNombre"
            placeholder="Nombre"
          />
        </div>
        <div class="form-group mx-2">
          <input
            type="text"
            name="inputApellidos"
            class="form-control mb-1"
            id="inputApellidos"
            placeholder="Apellidos"
          />
        </div>
        <div class="form-group mx-2">
          <input
            type="email"
            name="inputEmail"
            class="form-control mb-1"
            id="inputEmail"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-group mx-2">
        <input
          type="text"
          name="inputNif"
          class="form-control mb-1"
          id="inputNif"
          placeholder="NIF"
        />
      </div>
      <div class="form-group mx-2">
        <input
          type="text"
          name="inputTelefono"
          class="form-control mb-1"
          id="inputTelefono"
          placeholder="Teléfono"
        />
      </div>
      <div class="form-group mx-2">
        <input
          type="text"
          name="inputMarca"
          class="form-control mb-1"
          id="inputMarca"
          placeholder="Marca"
        />
      </div>
      <div class="form-group mx-2">
        <input
          type="text"
          name="inputModelo"
          class="form-control mb-1"
          id="inputModelo"
          placeholder="Modelo"
        />
      </div>
      <div class="form-row">
        <div class="form-group mx-2">
          <input
            type="text"
            name="direccion"
            class="form-control mb-1"
            id="direccion"
            placeholder="Dirección del vehículo"
          />
        </div>
        <div class="form-group mx-2">
          <select
            id="inputInicidencia"
            name="inputInicidencia"
            class="form-control mb-1"
            placeholder="Incidencia"
          >
            <option selected>Selecciona...</option>
            <option>Batería</option>
            <option>Neumático</option>
            <option>Accidente de tráfico</option>
            <option>Motor</option>
            <option>Discos de arranque</option>
            <option>Bomba de inyección</option>
            <option>Cable de embrague</option>
            <option>Cambio de marchas</option>
            <option>Otras (te llamaremos)</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-5">Enviar</button>
    </form>
  </div>

  <!-- Formulario para Login

  <div
    style="width: 800px; border: 1px solid #ccc; border-radius: 10px"
    class="p-2"
  >
    <form>
      <div class="d-flex flex-column p-4">
        <div class="form-group p-2">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group p-2">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary mt-5" style="width: 300px">
          Entrar y solicitar
        </button>
      </div>
    </form>
  </div> -->
</div>
