<div class="container mt-5 pt-5">
    <br>
    <div class="container text-center mt-5">
      <div class="card mt-5 h-75" style="width: 100%; height: 100%">
        <div class="card-body w-100 h100">
          <h1 class="card-title">Gracias</h1>
          <h4 class="card-text text-primary">Su solicitud es muy importante para nosotros, en la mayor brevedad posible nos pondremos en contacto con usted</h4>
          <a href="/" class="btn btn-primary mt-3">Regresar</a>
        </div>
      </div>
    </div>
    </div>