<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DIMA ROAD ASSISTANT</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          omnis fuga nesciunt, nemo blanditiis reiciendis. Quos necessitatibus
          ipsam maxime veritatis corrupti eveniet, sapiente architecto eaque
          ullam animi tempore beatae nobis.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sequi
          molestias deserunt consectetur voluptatibus dolore recusandae maxime
          nemo deleniti sunt veniam repellendus dolorum labore delectus, eum
          doloremque quibusdam iusto explicabo.
        </p>
        <a href="#" class="btn btn-primary">Saber más</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="http://localhost:3000/img/asistencia1.png"
            class="d-block w-100"
            alt="..."
            height="324px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="http://localhost:3000/img/asistencia2.png"
            class="d-block w-100"
            alt="..."
            height="324px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="http://localhost:3000/img/asistencia3.png"
            class="d-block w-100"
            alt="..."
            height="324px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
