<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <title>Contacto</title>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container">
      <h1>Error 404</h1>
    </div>
    <footer class="bg-primary mt-5 fixed-bottom container-fluid">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
