<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <form class="d-flex flex-column" action="/login"style="align-items: center;" method="get">
      <div class="mt-5">
        <h3><u>Iniciar sesión</u></h3>
      </div>
      <div class="mt-5 w-50">
        <div class="d-flex" style="justify-content: space-around">
          <label for="usuarioLogin" class="form-label">Usuario</label>
        </div>
        <input type="text" class="form-control" id="usuarioLogin" name="usuarioLogin"/>
      </div>
      <div class="mt-5 w-50">
        <div class="d-flex" style="justify-content: space-around">
          <label for="passwordLogin" class="form-label">Contraseña</label>
        </div>
        <input type="password" class="form-control" id="passwordLogin" name="passwordLogin"/>
      </div>
      <div class="mt-5 w-50 d-flex" style="justify-content: space-around">
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
      </div>
        </form>
    <footer class="bg-primary mt-5 fixed-bottom container-fluid">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
