<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <title>Login</title>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    
    <div class="row">
      <div class="col-sm-6">
        <div
          class="card text-white bg-ligth position-absolute top-50 start-50 translate-middle w-50"
        >
          <div class="card-header bg-primary text-center">INICIAR SESIÓN</div>
          <div class="card-body">
            <form
              class="d-flex flex-column"
              action="/login"
              method="POST"
              style="align-items: center"
            >
              <div class="mt-5 w-75">
                <div class="d-flex" style="justify-content: space-around">
                  <label for="usuarioLogin" class="form-label text-primary"
                    >Correo electrónico</label
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="usuarioLogin"
                  name="usuarioLogin"
                />
              </div>
              <div class="mt-5 w-75">
                <div class="d-flex" style="justify-content: space-around">
                  <label for="passwordLogin" class="form-label text-primary"
                    >Contraseña</label
                  >
                </div>
                <input
                  type="password"
                  class="form-control"
                  id="passwordLogin"
                  name="passwordLogin"
                />
              </div>
              <div
                class="mt-5 w-50 d-flex"
                style="justify-content: space-around"
              >
                <input type="submit" class="btn btn-primary btn-lg" value="Enviar"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <footer class="bg-primary mt-5 fixed-bottom container-fluid">
        <%- include('../partials/footer'); %>
      </footer>
    </div>
  </body>
</html>
