<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include('../partials/head'); %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <link rel="stylesheet" href="/css/main.css" />

    <title>Mapa de asistencia DIMA</title>
  </head>
  <body class="mb-2 bg-primary">
    <div><% if (datosGuardados == "none") { %>
      <%- include('../partials/navbar'); %>
      <% }  %></div>
    <div><% if (datosGuardados == "admin") { %>
      <%- include('../partials/navbarAdmin'); %>
      <% }  %></div>
    <div><% if (datosGuardados == "user") { %>
      <%- include('../partials/navbarUser'); %>
      <% }  %></div>
    <div class="container my-1">
      <h1 class="display-5 text-center text-white">
        <i class="fas fa-map-marked me-4 text-white"></i>UBICACIÓN GRÚAS DIMA
      </h1>
    </div>

    <div id="map_templat" class="min-vw-100 min-vh-100"></div>

    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main2.js"></script>
  </body>
</html>
