<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="d-flex ml-3 mr-3 mt-3 container">
      <h3><u>Misión y visión de DIMA SL</u></h3></div>
    <div class="row mt-2">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nuestros clientes</h5>
            <p class="card-text">
              Con más de treinta años en el sector, nos hemos convertido en una
              de las cinco mejores empresas en asistencia en carretera. Gestionamos con total rapidez y
              eficacia todo tipo de incidencias dentro de la Comunidad de Madrid, 
              apostando por un servicio que se sostiene en la confianza con el cliente, 
              la optimización de recursos y la implementación de las últimas tecnologías en el sector. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="background-color: #202123;">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="http://localhost:3000/img/1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="http://localhost:3000/img/2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="http://localhost:3000/img/3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column mt-4" style="align-items: center;"> 
      <h3><u>Contacto</u></h3>
    </div>
    <div class="d-flex flex-column" style="align-items: center;">
      <h6>No dude en contactar con nosotros para cualquier pregunta.</h6>
    </div>
    <div class="d-flex mt-4 mb-4">
      <div class="col-sm-6">
        Gruas DIMA Castro S.L
      </div>
    </div>
    <div class="d-flex">
      <div class="col-sm-6">
        Avenida Juan Caramuel, 27, 28918 Leganés, Madrid
      </div>
    </div>
    <div class="d-flex">
      <div class="col-sm-6">
        Teléfono: 912343399
      </div>
    </div>
    <div class="d-flex">
      <div class="col-sm-6">
        Email: dimacastro2022@gmail.com
      </div>
    </div>
    <footer class="bg-primary mt-5 fixed-bottom container-fluid">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
