<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <title>Solicitud</title>
  </head>
  <body>
    <div><%- include('../partials/navbar'); %></div>
    <div class="container text-center text-primary my-2">
      <h1>Solicitud</h1>
      <div><%- include('../partials/formSolicitud'); %></div>
    </div>

    <footer class="bg-primary mt-5">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
